body {
  font-family: "Bree Serif",serif;
  color: #333;
  font-size: 15px;
  line-height: 150%;
  background: #f0f0f0;
  overflow-y: scroll;
  font-weight: 300;
}

a {
  color: #baaf50;
  text-decoration: none;
}

h1 {
  font-size: 36px;
  margin: 0;
  padding-top: 16px;
  font-variant: small-caps;
}

h2 {
  font-size: 18px;
  margin: 0;
  padding-top: 5px;
}

.site-title {
  text-align: -webkit-center;
  text-align: center;
  width: 310px;
  height: 80px;
}

.top-bar {
  color: #baaf50;
  background: #4b4b4b;
  height: 80px;
  display: flex;
  z-index: 500;
}

.top-bar.home {
  background: rgba(75, 75, 75, 0.85);
}

.mobile-nav-button {
  display: none;
}

.nav-container {
  font-variant: small-caps;
  font-size: 20px;
  transition: all 1.5s;
}

.nav-container ul {
  list-style: none;
  display: -webkit-inline-box;
  padding: 27px 0 0 0;
  margin: 0;
}

.nav-container ul li {
  padding-right: 40px;
}

.active {
  text-decoration: underline;
}

.social-media {
  padding-top: 25px;
}

.content-container {
  position: relative;
  height: calc(100vh - 80px);
  display: flex;
  padding-right: 40px;
  /*background-image: url("../img/bg/inspiration.jpg");*/
}

.content-container::after {
  content: "";
  background: url("../img/bg/winter_field.jpg");
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.content-container.home::after {
  opacity: 1;
}

.sidebar-container {
  font-variant: small-caps;
  text-align: center;
  font-size: 20px;
  position: relative;
  min-width: 310px;
}

.sidebar-container img {
  display: block;
  margin: auto;
  padding-top: 100px;
}

.sidebar-container ul {
  list-style: none;
  padding: 0;
  line-height: 2em;
}

/*.sidebar-container a {
  text-decoration: underline;
}*/

.about-content {
  font-variant: small-caps;
  text-align: center;
  font-size: 22px;
  padding-top: 110px;
  padding-left: 10px;
}

.contact {
  padding-top: 20px;
  font-variant: normal;
}

.book-content {
  font-size: 18px;
  line-height: 1.5em;
}

.book-content p {
  margin-top: -5px;
}

.book-content h3 {
  text-align: center;
  font-variant: small-caps;
  font-size: 36px;
}

.farm-container {
  position: relative;
  height: calc(100vh - 80px);
  display: flex;
}

.farm-text h3 {
  text-align: center;
  font-variant: small-caps;
  font-size: 36px;
}

.farm-text {
  font-size: 18px;
  width: 60%;
  padding-left: 30px;
}

@media (max-width: 1000px) {
  .mobile-nav-button {
    display: block;
    background: url("../img/icon/nav_menu.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 25px;
    left: 40px;
    height: 27px;
    width: 40px;
  }

  .mobile-nav-button.open {
    background: url("../img/icon/nav_menu_close.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .nav-container {
    width: 100%;
    background: rgba(75, 75, 75, 0.85);
    height: 0;
    overflow: hidden;
    font-size: 36px;
    line-height: 2em;
    z-index: 1;
    padding: 0 0 10px 40px;
    position: absolute;
    top:  80px;
    left: 0;
    transition: all 1.5s;
  }

  .nav-container.open {
    height: 60%;
  }

  .nav-container ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  }

  .site-title {
    width: 100%;
  }

  .social-media {
    position: absolute;
    right: 40px;
  }


}